.MessageBox {
  display: inline-block;
  margin-bottom: 10px;
}

.MessageBox:last-child {
  margin-bottom: 0;
}

.MessageBox__owner-me {
  align-self: flex-end;
}

.MessageBox__owner-other {
  align-self: flex-start;
}
